<div class="w-50 d-flex flex-column container justify-content-center align-itmes-center" style = "padding-top: 1rem; border: 1px solid;">
    <div><img style = "padding-bottom: 1rem;" src="/instagram.png" class="img-fluid" alt="" ></div>
    <h1 class ="d-flex flex-column container justify-content-center align-itmes-center">Sign in and see your tasks </h1> <br>
    <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>        
        <div>
            <%= f.email_field :email, placeholder: "Email", class: 'form-control' %>
        </div> <br>

        <div>
            <%= f.password_field :password, placeholder: 'Your password', class: 'form-control' %>
        </div><br>

        <div>
            <button class="btn btn-success w-100" type="submit">Sign in </button>
        </div>
    <% end %>
</div> <br> <br>

<div class="w-50 d-flex flex-column container justify-content-center align-itmes-center" style = "padding-top: 1rem; border: 1px solid;">
    <p><strong>New around here?</strong>  <a class="text-decoration-none m-4" href="<%= new_user_path %>">Sign up now</a></p>
</div>