
<div class=" container-fluid d-flex flex-column justify-content-center w-50  ">
<h1>Editing Task</h1>

<%= render 'form', task: @task %>
<button class="btn btn-warning w-50" type="submit">Update Task </button> <br>
<div>
    <a href = "<%= task_path(@task) %>" class="btn btn-info w-25">Show</a>
    <a href = "<%= tasks_path %>" class="btn btn-dark w-25">Back</a>  
</div>
</div> <br>